# Dependencies
node_modules/

# Production build artifacts
dist/
dist-ssr/

# Environment files
.env.local
.env.*.local

# Vercel & Editor
.vercel/
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
